# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Environment
.env
.env.*

# Development
.vscode
.idea
*.md
test
coverage

# Build output
dist
build

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS files
.DS_Store
*.log